.App {
  text-align: center;
}

h3 {
  flex-wrap: wrap;
}

p {
  flex-wrap: wrap;
}

.title {
  font-size: 200%;
}

.logo {
  height: 7em;
  margin-right: 2em;
  margin-bottom: 2rem;
}

#cartLogo {
  width: 3em;
  height: 3em;
  margin-right: 2em;
}

.button {
  padding: 10px 20px;
  margin: 15px;
  display: inline;
}

.card {
  border: 1px black solid !important;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  padding: 30px;
}

.imgDetail {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.cardEnContainer {
  border: 1px black solid;
  padding: 30px;
  margin: 20px;
  width: 25%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.terminarCompra {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

#cont {
  margin: 0 10px 0 10px;
}

.stockText {
  margin: 0px 1em 0px 1em;
  width: 25%;
}

.contCont {
  width: 40%;
}

.botonCont {
  display: inline;
  margin: 5px;
  width: 40px;
}

.botonCarrito {
  width: 25%;
}

.contDetail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.oculto {
  display: none;
}

.cart {
  margin-left: 2rem;
  width: 15rem;
  text-align: center;
}

.cartItem {
  display: flex;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  width: 50em;
  height: 15em;
}

.imgCart {
  border: 1px solid black;
  height: 13em;
}

.textCart {
  margin-left: 40px;
}

.tituloCarrito {
  width: 20em;
}

.textContainerCart {
  width: 20rem;
}

.botonesCart {
  margin: 10px;
  display: flex;
  width: 180px;
  padding: 10px;
  justify-content: center;
}

.oops {
  margin: 30px 0 0 30px;
}

.bienvenido {
  margin: 30px 0 0 30px;
}

.notFound {
  margin: 30px 0 0 30px;
}

.buttonContainerEliminar {
  display: flex;
}

.buttonEliminar {
  margin-left: 3.3rem;
  margin-top: 8px;
}

.buttonContainer {
  display: flex;
}
