.App {
  text-align: center;
}

.title {
  font-size: 200%;
}

.logo {
  height: 17.15vmin ;
  width: 16.24vmin ;
  margin-right: 2em;
}

#cartLogo {
  width: 3em;
  height: 3em;
  margin-left: 1em;
}

.button {
  padding: 10px 20px;
  margin: 15px;
  display: inline;
}

.card {
  border:1px black solid !important;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 30px;
}

.imgDetail {
  width: 100%;
}

.cardEnContainer {
  
  border:1px black solid !important;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 30px;

}

.cardContainer {
  display: flex;
}

#cont {
  margin: 0px auto 0px auto;
}

.stockText {
  margin-left: auto;
  margin-right: auto;
}