.App {
  text-align: center;
}

.title {
  font-size: 200%;
}

.logo {
  height: 17.15vmin ;
  width: 16.24vmin ;
  margin-right: 2em;
}

#cartLogo {
  width: 2em;
  height: 2em;
  margin-left: 1em;
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  margin: 15px;
}